* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 3%;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #f1f1f1;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 80%;
  font-size: 1em;
  outline: none;
}

button[type="submit"] {
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  background-color: slategray;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.files {
  display: block;
  margin: 7%;
}

.err {
  color: red;
  font-weight: bold;
}

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video {
  margin: 10px;
}
